:root {
  --black: black;
  --white: white;
  --highlight-width: 184px;
  --gold: #ffea29;
  --body-width: 288px;
  --corner-radius-buttons: 4px;
  --corner-radius-jewel-boxes: 48px;
  --none: rgba(0, 0, 0, 0);
}

.w-layout-blockcontainer {
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

@media screen and (max-width: 991px) {
  .w-layout-blockcontainer {
    max-width: 728px;
  }
}

@media screen and (max-width: 767px) {
  .w-layout-blockcontainer {
    max-width: none;
  }
}

a {
  color: var(--black);
  text-decoration: none;
}

li {
  padding: 2px 8px;
  list-style-type: none;
  display: inline-block;
}

.section {
  position: relative;
  overflow: hidden;
}

.section.background--black {
  color: #fff;
  background-color: #000;
}

.section.section--hero {
  margin-top: 75px;
}

.section.section--dark {
  color: var(--white);
}

.section.section--light, .section.section--art-credits {
  background-color: var(--white);
}

.body {
  color: #000;
  text-align: center;
  font-family: Inter, sans-serif;
  font-size: 16px;
}

.headline {
  direction: ltr;
  color: #fff;
  letter-spacing: 0;
  text-transform: uppercase;
  mix-blend-mode: normal;
  font-size: 48px;
  font-weight: 400;
  line-height: 110%;
}

.stack__layer {
  flex-flow: column;
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;
}

.stack__layer.hide-mobile {
  position: relative;
}

.stack__layer.hero-image-container {
  z-index: -10;
  position: relative;
}

.stack__layer.offset-left-16 {
  margin-right: 16px;
}

.stack__layer.offset-right-16 {
  margin-left: 16px;
}

.highlight {
  max-width: var(--highlight-width);
  color: #fff;
  text-transform: none;
  background-color: #000;
  margin-bottom: -2px;
  padding: 2px 8px;
  line-height: 20px;
  display: inline-flex;
}

.highlight.highlight--caps2.highlight--white2.highlight--large {
  font-size: 32px;
  line-height: 40px;
}

.highlight.highlight--caps2.highlight--gold {
  background-color: var(--gold);
  color: var(--black);
}

.highlight.highlight--white2.highlight--caption {
  display: inline-block;
}

.subsection3 {
  grid-column-gap: 16px;
  grid-row-gap: 0px;
  grid-template-rows: minmax(96px, 1fr) auto minmax(96px, 1fr);
  grid-template-columns: minmax(200px, 1fr) minmax(200px, 2fr) minmax(200px, 1fr);
  grid-auto-columns: 1fr;
  max-width: 1600px;
  padding-left: 48px;
  padding-right: 48px;
  display: grid;
}

.subsection3.subsection--nav {
  grid-template-rows: auto;
  position: static;
  top: 0%;
  bottom: auto;
  left: 0%;
  right: 0%;
}

.subsection3.subsection--hero {
  grid-template-rows: auto;
  height: 500px;
}

.subsection3.subsection--hero-highlights {
  grid-column-gap: 0px;
  grid-template-rows: minmax(96px, 1fr);
  margin-bottom: 0;
}

.subsection3.subsection--hero-highlights.subsection--hero-highlights--stats {
  margin-top: 0;
  margin-bottom: 96px;
}

.subsection3.subsection--partners {
  grid-template-rows: minmax(96px, 1fr) auto;
  margin-bottom: 96px;
}

.subsection3.subsection--hero-highlights-overlay {
  grid-column-gap: 0px;
  grid-template-rows: minmax(96px, 1fr);
  margin-bottom: 96px;
}

.subsection3.subsection--hero-highlights-overlay.subsection--hero-highlights--stats {
  margin-top: 96px;
}

.subsection3.subsection--network {
  grid-template-rows: minmax(96px, 1fr);
}

.col-mid {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-rows: auto;
  grid-template-columns: minmax(0, 1fr) minmax(0, 4fr) minmax(0, 1fr);
  grid-auto-columns: 1fr;
  align-items: center;
  display: grid;
  position: relative;
}

.col-mid.hero {
  z-index: -1;
}

.col-1row {
  flex-flow: column;
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;
}

.col-3row {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-rows: minmax(0, 1fr) auto minmax(0, 1fr);
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.col-3row.stat-group {
  grid-template-columns: 1fr;
}

.col-3row.stat-group.hero-highlights__left {
  margin-right: 16px;
}

.col-3row.stat-group.hero-highlights__right {
  margin-left: 16px;
}

.col-3row__mid {
  flex-flow: column;
  align-items: center;
  display: flex;
  position: relative;
}

.col-3row__mid.stretcher {
  align-items: stretch;
}

.col-3row__mid.stretcher.network-offset {
  margin-top: 108px;
}

.col-3row__bottom {
  flex-flow: column;
  justify-content: flex-end;
  display: flex;
}

.highlight--white2 {
  background-color: var(--white);
  color: var(--black);
}

.highlight--caps2 {
  text-transform: uppercase;
}

.caption {
  max-width: var(--highlight-width);
  margin-top: 12px;
}

.caption.headline--rare {
  flex-flow: column;
  justify-content: center;
  align-items: center;
  margin-top: 16px;
  margin-bottom: 8px;
  font-size: 64px;
  font-weight: 700;
  line-height: 100%;
  display: flex;
}

.caption.vert-offset-stat {
  padding-bottom: 16px;
}

.color--gold {
  color: var(--gold);
}

.stack {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-rows: auto;
  grid-template-columns: minmax(200px, 1fr);
  grid-auto-columns: 1fr;
  grid-auto-flow: row;
  justify-content: center;
  justify-items: stretch;
  display: grid;
}

.stack.stack--sr {
  border-radius: var(--corner-radius-buttons);
  border: 1px solid #000;
  align-items: start;
  height: auto;
  position: relative;
  overflow: hidden;
}

.stack.stack--stat-group {
  grid-row-gap: 16px;
  width: 100%;
}

.stack.network-offset2 {
  margin-top: 73px;
}

.jewel-box2 {
  border-radius: var(--corner-radius-jewel-boxes);
  background-color: var(--black);
  color: var(--white);
  flex-flow: column;
  justify-content: center;
  align-items: center;
  padding: 96px 24px;
  display: flex;
  position: relative;
}

.jewel-box2.jewel-box--image {
  background-color: var(--none);
}

.jewel-box2.jewel-box--image.jewel-box--rare {
  aspect-ratio: 1;
  border-radius: 1000px;
  overflow: hidden;
}

.jewel-box2.jewel-box--treasury, .jewel-box2.jewel-box--dev-cta {
  padding-top: 72px;
  padding-bottom: 72px;
}

.separator {
  flex-flow: column;
  align-items: center;
  height: 24px;
  display: flex;
}

.separator.separator--hor {
  width: 96px;
  height: 1px;
}

.separator.separator--inline {
  margin-left: 16px;
  margin-right: 16px;
  display: inline-block;
}

.hide-desktop {
  display: none;
}

.stat-group__img-diamond {
  mix-blend-mode: exclusion;
  width: 32px;
  height: 32px;
  margin-bottom: 16px;
}

.rare-box--image-diamond {
  filter: invert();
  width: 96px;
}

.text-body {
  max-width: var(--body-width);
  flex-flow: column;
  align-self: center;
  margin-bottom: 16px;
  display: flex;
}

.text-body.highlight--caps2.partners-label {
  letter-spacing: 1px;
  font-weight: 700;
}

.button {
  border-radius: var(--corner-radius-buttons);
  background-color: var(--black);
  margin-top: 12px;
  margin-left: 10%;
  margin-right: 10%;
}

.button:hover {
  background-color: var(--white);
  color: var(--black);
  border: 1px solid #000;
}

.button.button--gold {
  border: 1px solid var(--gold);
  background-color: var(--gold);
  color: var(--black);
}

.button.button--gold:hover {
  border-color: var(--gold);
  background-color: var(--black);
  color: var(--gold);
}

.button.button--gold.button--header {
  flex-flow: column;
  justify-content: center;
  align-items: stretch;
  width: 100%;
  margin-top: 0;
  margin-bottom: 0;
  display: flex;
}

.button.button--secondary-black {
  background-color: var(--none);
  color: var(--black);
  border: 1px solid #000;
}

.button.button--secondary-black:hover {
  border-color: var(--white);
  background-color: var(--black);
  color: var(--white);
}

.button.button--secondary-black.button--dev {
  flex: 1;
  margin-left: 0%;
  margin-right: 0%;
}

.button.button--secondary-white {
  border: 1px solid var(--white);
}

.button.button--white {
  background-color: var(--white);
  color: var(--black);
}

.button.button--white:hover {
  border-color: var(--white);
  background-color: var(--black);
  color: var(--white);
}

.img-header-logo {
  height: 20px;
}

.img-header-logo.img-header-logo--network-graphic {
  max-width: none;
  height: 18px;
}

.header-button-container {
  justify-content: center;
  align-items: center;
  display: flex;
}

.img-header-logo-container {
  border: 1px solid var(--white);
  border-radius: var(--corner-radius-buttons);
  background-color: var(--white);
  flex-flow: column;
  margin-left: 10%;
  margin-right: 10%;
  padding: 9px 15px;
  display: flex;
}

.img-header-logo-container:hover {
  filter: invert();
}

.nav-link {
  border: 1px solid var(--white);
  background-color: var(--white);
  margin-left: -5px;
  margin-right: -5px;
  padding-top: 9px;
  padding-bottom: 9px;
}

.nav-link:hover {
  z-index: 10;
  text-decoration: underline;
}

.nav-link.hide-desktop-only {
  display: none;
}

.nav-link.nav-link--first {
  border-top-left-radius: var(--corner-radius-buttons);
  border-bottom-left-radius: var(--corner-radius-buttons);
}

.nav-link.nav-link--last {
  border-top-right-radius: var(--corner-radius-buttons);
  border-bottom-right-radius: var(--corner-radius-buttons);
}

.navbar {
  z-index: 20;
  background-color: var(--none);
  margin-top: 48px;
  margin-bottom: 72px;
  position: -webkit-sticky;
  position: sticky;
  top: 48px;
}

.brand {
  flex-flow: column;
  justify-content: center;
  display: flex;
}

.img-etherscan {
  opacity: .66;
}

.img-curation-staking {
  width: 100%;
}

.arrow-container {
  flex-flow: column;
  align-items: center;
  display: flex;
}

.arrow-container.arrow-container--small {
  width: 100%;
  height: 96px;
  margin-top: 24px;
  position: relative;
}

.arrow-container.arrow-container--full-height {
  height: 100%;
  position: relative;
}

.arrow-container.arrow-container--hero-to-stats {
  width: 100%;
  height: 96px;
  margin-top: 0;
  position: relative;
}

.arrow-container.arrow-container--hero-to-stats-bottom {
  width: 100%;
  height: 96px;
  margin-top: 0;
  margin-bottom: 24px;
  position: relative;
}

.arrow-container.arrow-container--superrare {
  width: 100%;
  height: 126px;
  margin-top: 24px;
  position: relative;
}

.arrow-container.arrow-container--rare {
  width: 100%;
  height: 100%;
  margin-top: 0;
  margin-bottom: 24px;
  position: relative;
}

.arrow-container.arrow-container--network {
  width: 100%;
  height: 230px;
  margin-top: 24px;
  margin-bottom: 24px;
  position: relative;
}

.arrow-line {
  background-color: var(--black);
  width: 1px;
  height: 100%;
}

.arrow-line.arrow-line--white {
  background-color: var(--white);
}

.arrow-line.arrow-line--hor {
  width: 100%;
  height: 1px;
}

.arrow-head {
  position: absolute;
  top: auto;
  bottom: -1px;
  left: auto;
  right: auto;
}

.arrow-head.arrow-head--white {
  filter: invert();
}

.background-wrapper {
  z-index: -10;
  flex-flow: column;
  justify-content: center;
  display: flex;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.background--stats {
  z-index: -10;
  opacity: 1;
  filter: brightness(200%) contrast(200%) contrast(200%) saturate(0%);
  mix-blend-mode: hard-light;
  background-image: url('../images/art16-Compressify.io.webp');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: auto 100vh;
  background-attachment: fixed;
  flex-flow: column;
  height: 100%;
  display: flex;
  position: relative;
}

.background-dark-grey {
  z-index: -10;
  background-color: var(--black);
  opacity: .8;
  flex-flow: column;
  justify-content: center;
  height: 100%;
  display: flex;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.image-cycler__child {
  object-fit: cover;
  height: 100%;
}

.background-gold {
  background-color: var(--gold);
  opacity: .94;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.background-black {
  background-color: var(--black);
  opacity: .94;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.jewel-box__background {
  aspect-ratio: 1;
  border-radius: 1000px;
  overflow: hidden;
}

.list-totem2__item {
  flex-flow: column;
  align-items: center;
  margin-top: 16px;
  margin-bottom: 16px;
  display: flex;
}

.list-totem2 {
  flex-flow: column;
  align-items: center;
  display: flex;
}

.section--light {
  background-color: var(--white);
}

.image {
  width: 100%;
  display: block;
}

.image.img-staking-graphic {
  z-index: 10;
  width: 80%;
}

.img-sr-screenshot {
  border-radius: var(--corner-radius-buttons);
  width: 100%;
  margin-top: -1px;
}

.img-invert {
  z-index: -5;
  filter: invert();
  position: relative;
}

.img-invert.temp-flip-3 {
  transform: rotate(-180deg);
}

.temp-flip-3 {
  transform: rotate(180deg);
}

.temp-hide {
  display: none;
}

.background-image {
  flex-flow: column;
  display: flex;
}

.img-cycler--hero {
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.arrow-line-2 {
  background-color: #000;
  width: 1px;
  height: 100%;
}

.arrow-line-2.arrow-line--white {
  background-color: #fff;
}

.jewel-box2-2 {
  color: #fff;
  background-color: #000;
  border-radius: 48px;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  padding: 96px 24px;
  display: flex;
  position: relative;
}

.jewel-box2-2.jewel-box2--white {
  color: #000;
  background-color: #fff;
}

.jewel-box2-2.jewel-box2--white.jewl-box--signup {
  margin-top: 24px;
}

.link {
  color: var(--black);
  text-decoration: underline;
  display: inline;
}

.link:hover {
  background-color: var(--gold);
  color: var(--black);
  text-decoration: none;
}

.link:visited {
  color: var(--black);
}

.link.link--white {
  color: var(--white);
}

.link.link--white.link--asterisk {
  text-decoration: none;
}

.superscript {
  font-size: 9px;
}

.link--inline {
  color: var(--black);
  text-decoration: underline;
}

.link--inline:hover {
  color: var(--gold);
}

.img-sparkle {
  width: 200%;
}

.img-sparkle.temp-flip-4 {
  z-index: -5;
  position: relative;
  transform: rotate(90deg);
}

.partner-list {
  padding-left: 0;
}

.name-list-wrapper.name-list--artists {
  padding: 12px 215px;
  font-size: 10px;
}

.partners-container {
  flex-flow: column;
  align-items: center;
  display: flex;
}

.img-sr-feed {
  width: 50%;
  position: absolute;
  top: 72px;
  bottom: auto;
  left: auto;
  right: auto;
}

.hero-stat__left {
  background-color: var(--black);
  align-self: flex-end;
  width: 50%;
  height: 1px;
}

.hero-stat__left.hide-mobile {
  width: 20%;
}

.hero-stat__middle-left {
  background-color: var(--black);
  align-self: flex-start;
  width: 33%;
  height: 1px;
}

.hero-stat__middle-left.hide-mobile {
  position: absolute;
}

.hero-stat__right {
  background-color: var(--black);
  align-self: flex-start;
  width: 50%;
  height: 1px;
}

.hero-stat__right.hide-mobile {
  width: 20%;
}

.separator--white-offset {
  background-color: var(--white);
}

.z-bumper-5 {
  z-index: 5;
  position: relative;
}

.hero-stat__middle-right {
  background-color: var(--black);
  align-self: flex-end;
  width: 33%;
  height: 1px;
}

.hero-stat__middle-right.separator--white-offset.hide-mobile {
  background-color: var(--white);
}

.hero-stat__middle-right.hide-mobile {
  position: absolute;
}

.lottie-sparkle {
  filter: invert();
  mix-blend-mode: exclusion;
  width: 130%;
  position: relative;
}

.lottie-sparkle.lottie-sparkle--rare {
  z-index: -10;
  mix-blend-mode: normal;
  width: 178%;
}

.div-block {
  background-color: var(--black);
  opacity: .14;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.background--dao {
  z-index: -10;
  opacity: 1;
  filter: brightness(200%) contrast(200%) contrast(200%) saturate(0%);
  mix-blend-mode: hard-light;
  background-image: url('../images/art4-Compressify.io.webp');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: 100vw;
  background-attachment: fixed;
  flex-flow: column;
  height: 100%;
  display: flex;
  position: relative;
}

.partners-containe-2 {
  flex-flow: column;
  align-items: center;
  display: flex;
}

.img-rare-holders {
  max-width: none;
  height: 73px;
}

.list-item--highlight {
  background-color: var(--gold);
}

.img-partner-label {
  max-width: none;
  height: 21px;
  margin-bottom: 15px;
}

.dev-button-wrapper {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  justify-content: center;
  width: 100%;
  display: flex;
}

.dev-button-wrapper.hide-mobile {
  margin-top: 24px;
}

@media screen and (max-width: 991px) {
  .section.section--hero {
    margin-top: -10px;
  }

  .body {
    font-size: 12px;
    line-height: 16px;
  }

  .headline {
    font-size: 28px;
  }

  .highlight.highlight--caps2.highlight--white2.highlight--large {
    font-size: 20px;
    line-height: 30px;
  }

  .subsection3.subsection--hero-highlights {
    margin-top: 24px;
  }

  .subsection3.subsection--partners {
    padding-top: 0;
  }

  .subsection3.subsection--hero-highlights-overlay {
    margin-top: 24px;
  }

  .col-mid {
    grid-template-columns: minmax(0, 1fr) minmax(0, 4fr) minmax(0, 1fr);
  }

  .caption.headline--rare {
    font-size: 48px;
  }

  .jewel-box2 {
    padding-top: 72px;
    padding-bottom: 72px;
  }

  .text-body {
    max-width: 160px;
  }

  .header-button-container {
    display: none;
  }

  .nav-link {
    flex-flow: column;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    line-height: 48px;
    display: flex;
  }

  .nav-link.hide-desktop-only {
    display: flex;
  }

  .jewel-box2-2 {
    padding-top: 72px;
    padding-bottom: 72px;
  }

  .menu-button {
    border-radius: var(--corner-radius-buttons);
    background-color: var(--white);
    padding: 9px 12px;
  }

  .menu-button.w--open {
    background-color: var(--black);
  }

  .name-list-wrapper.name-list--artists {
    padding-left: 20px;
    padding-right: 20px;
  }

  .nav-menu {
    border-radius: var(--corner-radius-jewel-boxes);
    background-color: #fff;
    height: 100vh;
    margin-top: -150px;
    padding-top: 150px;
  }

  .img-sr-feed {
    width: 70%;
    top: 32px;
  }

  .hero-stat__middle-left.hide-mobile, .hero-stat__middle-right.hide-mobile {
    width: 23%;
  }
}

@media screen and (max-width: 767px) {
  .section.section--hero {
    margin-top: -30px;
  }

  .headline {
    font-size: 36px;
  }

  .stack__layer.offset-left-16 {
    margin-right: 0;
  }

  .stack__layer.offset-right-16 {
    margin-left: 0;
  }

  .highlight.highlight--caps2.highlight--gold-mobile {
    background-color: var(--gold);
    color: var(--black);
  }

  .highlight.highlight--white2.highlight--caption {
    max-width: var(--body-width);
    margin-top: 6px;
  }

  .subsection3 {
    grid-row-gap: 16px;
    flex-flow: column;
    padding-top: 96px;
    padding-bottom: 96px;
    display: flex;
  }

  .subsection3.subsection--nav {
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    grid-template-rows: auto;
    grid-template-columns: 1fr 2fr 1fr;
    grid-auto-columns: 1fr;
    padding-top: 0;
    padding-bottom: 0;
    display: grid;
  }

  .subsection3.subsection--hero {
    height: auto;
    padding-top: 0;
    padding-bottom: 0;
    display: flex;
  }

  .subsection3.subsection--hero-highlights {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
  }

  .subsection3.subsection--hero-highlights.subsection--hero-highlights--stats {
    margin-bottom: 0;
    padding-top: 96px;
  }

  .subsection3.subsection--partners {
    margin-bottom: 0;
  }

  .subsection3.subsection--hero-highlights-overlay {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
  }

  .subsection3.subsection--network {
    padding-bottom: 0;
  }

  .col-mid {
    display: block;
  }

  .col-mid.hero {
    flex-flow: column;
    justify-content: center;
    height: 30px;
    display: flex;
  }

  .col-mid.col-mid--rare {
    padding-left: 48px;
    padding-right: 48px;
  }

  .col-3row {
    flex-flow: column;
    grid-template-rows: minmax(0, 1fr) auto minmax(0, 1fr);
    grid-auto-rows: minmax(0, 1fr);
    display: flex;
  }

  .col-3row.stat-group {
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    grid-template-rows: minmax(0, .25fr) auto;
    margin-bottom: 16px;
  }

  .col-3row.stat-group.hero-highlights__left {
    margin-right: 0;
  }

  .col-3row.stat-group.hero-highlights__right {
    margin-left: 0;
  }

  .caption {
    max-width: var(--body-width);
  }

  .caption.vert-offset-stat {
    padding-bottom: 0;
  }

  .stack.z-bumper {
    z-index: 10;
    position: relative;
  }

  .stack.network-offset2 {
    margin-top: 0;
    margin-bottom: 23px;
  }

  .hide-mobile {
    display: none;
  }

  .jewel-box2.jewel-box--dev-cta {
    background-color: var(--gold);
    color: var(--black);
  }

  .separator {
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
  }

  .separator.hide-desktop {
    height: 32px;
  }

  .hide-desktop {
    justify-content: center;
    display: flex;
  }

  .stat-group__img-diamond {
    margin-top: 0;
  }

  .text-body {
    max-width: 288px;
  }

  .text-body.highlight--caps2.partners-label {
    letter-spacing: .5px;
    font-weight: 700;
  }

  .img-header-logo.img-header-logo--network-graphic {
    height: 15px;
  }

  .img-header-logo-container {
    align-self: flex-start;
    margin-left: 0%;
  }

  .img-curation-staking {
    width: 80%;
  }

  .arrow-container.arrow-container--network {
    height: 96px;
  }

  .arrow-container.arrow-container--network.arrow-container--network--bottom {
    margin-bottom: 0;
  }

  .image.img-staking-graphic {
    width: 100%;
  }

  .image.img-network-diagram {
    margin-top: 24px;
    margin-bottom: 25px;
  }

  .img-sr-feed {
    top: 64px;
  }

  .lottie-sparkle {
    width: 100%;
  }

  .background-static {
    object-fit: cover;
    height: 100vh;
  }

  .img-rare-holders {
    height: 59px;
  }

  .img-partner-label {
    height: 17px;
  }
}

@media screen and (max-width: 479px) {
  li {
    padding-left: 4px;
    padding-right: 4px;
  }

  .headline {
    font-size: 32px;
  }

  .subsection3.subsection--nav {
    padding-left: 16px;
    padding-right: 16px;
  }

  .subsection3.subsection--hero {
    margin-top: -61px;
  }

  .subsection3.subsection--hero-highlights {
    margin-top: 0;
    padding-bottom: 64px;
  }

  .subsection3.subsection--hero-highlights.subsection--hero-highlights--stats {
    padding-top: 64px;
  }

  .subsection3.subsection--hero-highlights-overlay {
    margin-top: 0;
    padding-bottom: 0;
  }

  .col-mid, .col-mid.col-mid--rare {
    padding-left: 0;
    padding-right: 0;
  }

  .col-3row__mid.stretcher.network-offset {
    margin-top: 0;
  }

  .caption.headline--rare {
    font-size: 48px;
  }

  .stack {
    align-items: center;
  }

  .jewel-box2 {
    padding-top: 56px;
    padding-bottom: 56px;
  }

  .separator.hide-desktop {
    height: 32px;
  }

  .rare-box--image-diamond {
    width: 72px;
  }

  .navbar {
    z-index: 20;
    margin-top: 16px;
    top: 16px;
  }

  .brand {
    padding-left: 0;
  }

  .background-dark-grey {
    opacity: .8;
  }

  .jewel-box2-2 {
    padding-top: 56px;
    padding-bottom: 56px;
  }

  .partner-list {
    flex-flow: wrap;
    justify-content: center;
    padding-left: 0;
    font-size: 10px;
    line-height: 14px;
    display: block;
  }

  .name-list-wrapper.name-list--artists {
    padding-left: 10px;
    padding-right: 10px;
  }

  .img-sr-feed {
    width: 82%;
    top: 32px;
  }

  .lottie-sparkle {
    width: 140%;
  }
}

#w-node-_86396bcf-78a5-d6dd-e05e-9278c3a2e982-930b58d9 {
  grid-area: 1 / 1 / 2 / 2;
}

#w-node-_86396bcf-78a5-d6dd-e05e-9278c3a2e983-930b58d9 {
  grid-area: 1 / 2 / 2 / 3;
}

#w-node-_0d836e65-d760-3a8d-3a62-03af4c7a6e60-930b58d9 {
  grid-area: 1 / 3 / 2 / 4;
}

#w-node-_0d836e65-d760-3a8d-3a62-03af4c7a6e61-930b58d9, #w-node-_3366d8c2-122b-9ef4-c6ad-385f41a748f7-930b58d9, #w-node-_3366d8c2-122b-9ef4-c6ad-385f41a748f9-930b58d9, #w-node-_3366d8c2-122b-9ef4-c6ad-385f41a748fb-930b58d9 {
  grid-area: 1 / 1 / 2 / 2;
}

#w-node-_3366d8c2-122b-9ef4-c6ad-385f41a748ff-930b58d9 {
  grid-area: 1 / 2 / 2 / 3;
}

#w-node-_3366d8c2-122b-9ef4-c6ad-385f41a74900-930b58d9, #w-node-_3366d8c2-122b-9ef4-c6ad-385f41a74902-930b58d9 {
  grid-area: 1 / 1 / 2 / 2;
}

#w-node-_3366d8c2-122b-9ef4-c6ad-385f41a7490b-930b58d9 {
  grid-area: 1 / 3 / 2 / 4;
}

#w-node-_3366d8c2-122b-9ef4-c6ad-385f41a7490d-930b58d9, #w-node-_3366d8c2-122b-9ef4-c6ad-385f41a7490f-930b58d9, #w-node-_3366d8c2-122b-9ef4-c6ad-385f41a74913-930b58d9, #w-node-_3366d8c2-122b-9ef4-c6ad-385f41a74914-930b58d9, #w-node-_3366d8c2-122b-9ef4-c6ad-385f41a74915-930b58d9, #w-node-_3366d8c2-122b-9ef4-c6ad-385f41a74917-930b58d9, #w-node-_3366d8c2-122b-9ef4-c6ad-385f41a74919-930b58d9 {
  grid-area: 1 / 1 / 2 / 2;
}

#w-node-_3366d8c2-122b-9ef4-c6ad-385f41a7491b-930b58d9 {
  grid-area: 2 / 1 / 3 / 2;
}

#w-node-_3366d8c2-122b-9ef4-c6ad-385f41a7491e-930b58d9 {
  grid-area: 3 / 1 / 4 / 2;
}

#w-node-_3366d8c2-122b-9ef4-c6ad-385f41a74923-930b58d9 {
  grid-area: 1 / 2 / 2 / 3;
}

#w-node-_3366d8c2-122b-9ef4-c6ad-385f41a74924-930b58d9 {
  grid-area: 1 / 1 / 2 / 4;
}

#w-node-_3366d8c2-122b-9ef4-c6ad-385f41a74925-930b58d9, #w-node-_3366d8c2-122b-9ef4-c6ad-385f41a74928-930b58d9, #w-node-_3366d8c2-122b-9ef4-c6ad-385f41a7492a-930b58d9 {
  grid-area: 1 / 1 / 2 / 2;
}

#w-node-_3366d8c2-122b-9ef4-c6ad-385f41a7492c-930b58d9 {
  grid-area: 2 / 1 / 3 / 2;
}

#w-node-_3366d8c2-122b-9ef4-c6ad-385f41a7492f-930b58d9 {
  grid-area: 3 / 1 / 4 / 2;
}

#w-node-_3366d8c2-122b-9ef4-c6ad-385f41a74934-930b58d9 {
  grid-area: 1 / 3 / 2 / 4;
}

#w-node-_3366d8c2-122b-9ef4-c6ad-385f41a74935-930b58d9, #w-node-_3366d8c2-122b-9ef4-c6ad-385f41a74936-930b58d9, #w-node-_3366d8c2-122b-9ef4-c6ad-385f41a74938-930b58d9, #w-node-_3366d8c2-122b-9ef4-c6ad-385f41a7493a-930b58d9 {
  grid-area: 1 / 1 / 2 / 2;
}

#w-node-_3366d8c2-122b-9ef4-c6ad-385f41a7493c-930b58d9 {
  grid-area: 2 / 1 / 3 / 2;
}

#w-node-_3366d8c2-122b-9ef4-c6ad-385f41a7493f-930b58d9 {
  grid-area: 3 / 1 / 4 / 2;
}

#w-node-_040d3d9a-c831-7219-78fe-20c5302d925d-930b58d9 {
  grid-area: 2 / 2 / 3 / 3;
}

#w-node-_64029f8e-fb5a-417a-1be3-bb498260be66-930b58d9 {
  grid-area: 2 / 1 / 3 / 2;
}

#w-node-_0a6e11ba-9ce6-3d28-caa8-e222ac8e22f7-930b58d9, #w-node-_64029f8e-fb5a-417a-1be3-bb498260be68-930b58d9 {
  grid-area: 1 / 1 / 2 / 2;
}

#w-node-_64029f8e-fb5a-417a-1be3-bb498260be70-930b58d9 {
  grid-area: 2 / 2 / 3 / 3;
}

#w-node-_64029f8e-fb5a-417a-1be3-bb498260be71-930b58d9 {
  grid-area: 1 / 1 / 2 / 4;
}

#w-node-_93a6ab2a-f308-14f1-cf91-f4b7edcaa83a-930b58d9, #w-node-_64029f8e-fb5a-417a-1be3-bb498260be72-930b58d9 {
  grid-area: 1 / 1 / 2 / 2;
}

#w-node-_64029f8e-fb5a-417a-1be3-bb498260be7a-930b58d9 {
  grid-area: 2 / 3 / 3 / 4;
}

#w-node-_21444cce-959f-b23a-358b-bca3a930bb8e-930b58d9, #w-node-_64029f8e-fb5a-417a-1be3-bb498260be7c-930b58d9 {
  grid-area: 1 / 1 / 2 / 2;
}

#w-node-_30e0c6fe-f01e-3605-f649-f8192485c0fa-930b58d9 {
  grid-area: 2 / 1 / 3 / 2;
}

#w-node-_30e0c6fe-f01e-3605-f649-f8192485c0fd-930b58d9 {
  grid-area: 1 / 1 / 2 / 2;
}

#w-node-_30e0c6fe-f01e-3605-f649-f8192485c100-930b58d9 {
  grid-area: 2 / 2 / 3 / 3;
}

#w-node-_87623d21-3ad0-ce0f-f240-e606cfc98956-930b58d9 {
  grid-area: 1 / 2 / 2 / 3;
}

#w-node-a189f161-4fef-06c0-3adf-54cd79872508-930b58d9 {
  grid-area: 1 / 1 / 2 / 2;
}

#w-node-_30e0c6fe-f01e-3605-f649-f8192485c101-930b58d9 {
  grid-area: 1 / 1 / 2 / 2;
  align-self: center;
}

#w-node-_30e0c6fe-f01e-3605-f649-f8192485c107-930b58d9 {
  grid-area: 2 / 3 / 3 / 4;
}

#w-node-_30e0c6fe-f01e-3605-f649-f8192485c108-930b58d9 {
  grid-area: 2 / 1 / 3 / 2;
}

#w-node-_30e0c6fe-f01e-3605-f649-f8192485c10d-930b58d9 {
  grid-area: 3 / 1 / 4 / 2;
}

#w-node-_5d642813-6530-4b6e-740b-3c04e67570b5-930b58d9 {
  grid-area: 2 / 1 / 3 / 2;
}

#w-node-_5d642813-6530-4b6e-740b-3c04e67570b6-930b58d9 {
  grid-area: 1 / 1 / 2 / 2;
}

#w-node-_5d642813-6530-4b6e-740b-3c04e67570c3-930b58d9 {
  grid-area: 2 / 2 / 3 / 3;
}

#w-node-_0cba48a3-c1cb-00f1-f063-f91b869f91c6-930b58d9 {
  grid-area: 1 / 2 / 2 / 2;
}

#w-node-_70d5824d-ce0f-0d79-f10e-9a2fb1dfea97-930b58d9, #w-node-_7ae91a55-5fb4-c5a6-0918-106e0139db24-930b58d9 {
  grid-area: 1 / 1 / 2 / 2;
}

#w-node-_5d642813-6530-4b6e-740b-3c04e67570c7-930b58d9 {
  grid-area: 2 / 3 / 3 / 4;
}

#w-node-_5d642813-6530-4b6e-740b-3c04e67570c8-930b58d9 {
  grid-area: 2 / 1 / 3 / 2;
}

#w-node-_5d642813-6530-4b6e-740b-3c04e67570d2-930b58d9, #w-node-_7b95c918-ec21-a6e4-2638-4d688bfc2ace-930b58d9 {
  grid-area: 3 / 1 / 4 / 2;
}

#w-node-f0794d54-1e87-f698-5027-a2edcb01a0f6-930b58d9 {
  grid-area: 1 / 1 / 2 / 2;
}

#w-node-f0794d54-1e87-f698-5027-a2edcb01a0f8-930b58d9, #w-node-f0794d54-1e87-f698-5027-a2edcb01a0f9-930b58d9, #w-node-f0794d54-1e87-f698-5027-a2edcb01a0fa-930b58d9 {
  grid-area: 2 / 1 / 3 / 2;
}

#w-node-f0794d54-1e87-f698-5027-a2edcb01a0fc-930b58d9 {
  grid-area: 1 / 1 / 2 / 2;
}

#w-node-f0794d54-1e87-f698-5027-a2edcb01a0ff-930b58d9 {
  grid-area: 2 / 2 / 3 / 3;
}

#w-node-f0794d54-1e87-f698-5027-a2edcb01a100-930b58d9 {
  grid-area: 1 / 1 / 2 / 4;
}

#w-node-f0794d54-1e87-f698-5027-a2edcb01a102-930b58d9 {
  grid-area: 1 / 2 / 2 / 2;
}

#w-node-f0794d54-1e87-f698-5027-a2edcb01a103-930b58d9 {
  grid-area: 1 / 2 / 2 / 3;
}

#w-node-f0794d54-1e87-f698-5027-a2edcb01a10b-930b58d9 {
  grid-area: 2 / 3 / 3 / 4;
}

#w-node-f0794d54-1e87-f698-5027-a2edcb01a10c-930b58d9, #w-node-_7822d403-2309-38ee-82e6-b43f07fa752a-930b58d9 {
  grid-area: 2 / 1 / 3 / 2;
}

#w-node-_14e0d93f-ef72-ee73-403b-fea2d9acbfd6-930b58d9 {
  grid-area: 1 / 1 / 2 / 2;
}

#w-node-_7822d403-2309-38ee-82e6-b43f07fa7531-930b58d9 {
  grid-area: 2 / 2 / 3 / 3;
}

#w-node-_08afb6cc-dcc8-e7dd-6657-449bb5fa00bf-930b58d9 {
  grid-area: 1 / 1 / 2 / 4;
}

#w-node-_08afb6cc-dcc8-e7dd-6657-449bb5fa00c0-930b58d9, #w-node-_08afb6cc-dcc8-e7dd-6657-449bb5fa00c2-930b58d9 {
  grid-area: 1 / 1 / 2 / 2;
}

#w-node-_7822d403-2309-38ee-82e6-b43f07fa7538-930b58d9 {
  grid-area: 2 / 3 / 3 / 4;
}

#w-node-_1b09ba16-8373-91cd-4dcb-a9da85a0554e-930b58d9 {
  grid-area: 2 / 1 / 3 / 2;
}

#w-node-_7822d403-2309-38ee-82e6-b43f07fa7543-930b58d9 {
  grid-area: 3 / 1 / 4 / 2;
}

#w-node-b3fd783d-b411-acb0-7eb7-4f9a962b046f-930b58d9 {
  grid-area: 2 / 1 / 3 / 2;
}

#w-node-b3fd783d-b411-acb0-7eb7-4f9a962b0471-930b58d9, #w-node-b3fd783d-b411-acb0-7eb7-4f9a962b0473-930b58d9 {
  grid-area: 1 / 1 / 2 / 2;
}

#w-node-b3fd783d-b411-acb0-7eb7-4f9a962b047a-930b58d9 {
  grid-area: 2 / 2 / 3 / 3;
}

#w-node-b3fd783d-b411-acb0-7eb7-4f9a962b047b-930b58d9 {
  grid-area: 1 / 2 / 2 / 3;
}

#w-node-b3fd783d-b411-acb0-7eb7-4f9a962b0484-930b58d9 {
  grid-area: 2 / 3 / 3 / 4;
}

#w-node-b3fd783d-b411-acb0-7eb7-4f9a962b0485-930b58d9 {
  grid-area: 2 / 1 / 3 / 2;
}

#w-node-b3fd783d-b411-acb0-7eb7-4f9a962b048f-930b58d9 {
  grid-area: 1 / 1 / 2 / 4;
}

#w-node-b3fd783d-b411-acb0-7eb7-4f9a962b055e-930b58d9 {
  grid-area: 1 / 2 / 2 / 3;
}

#w-node-b523d164-f8de-d385-629e-f02d32f4ee91-930b58d9 {
  grid-area: 2 / 2 / 3 / 3;
  justify-self: center;
}

#w-node-_057ef36f-30ba-19b5-2cb6-b68250060587-930b58d9 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_1e63624c-1811-5b2c-a2d9-869869e490c2-930b58d9 {
  grid-area: 2 / 1 / 3 / 2;
}

#w-node-_1e63624c-1811-5b2c-a2d9-869869e490c4-930b58d9, #w-node-_1e63624c-1811-5b2c-a2d9-869869e490c6-930b58d9 {
  grid-area: 1 / 1 / 2 / 2;
}

#w-node-_1e63624c-1811-5b2c-a2d9-869869e490cf-930b58d9 {
  grid-area: 2 / 2 / 3 / 3;
}

#w-node-_1e63624c-1811-5b2c-a2d9-869869e490d0-930b58d9 {
  grid-area: 1 / 2 / 2 / 3;
}

#w-node-_1e63624c-1811-5b2c-a2d9-869869e490d1-930b58d9 {
  grid-area: 2 / 3 / 3 / 4;
}

#w-node-_1e63624c-1811-5b2c-a2d9-869869e490d2-930b58d9 {
  grid-area: 2 / 1 / 3 / 2;
}

#w-node-_1e63624c-1811-5b2c-a2d9-869869e490da-930b58d9 {
  grid-area: 1 / 1 / 2 / 4;
}

#w-node-_615fb7ae-3308-208d-6e1c-e9c25fc0bf65-930b58d9 {
  grid-area: 2 / 2 / 3 / 3;
}

#w-node-_615fb7ae-3308-208d-6e1c-e9c25fc0bf66-930b58d9 {
  grid-area: 1 / 2 / 2 / 2;
}

#w-node-_615fb7ae-3308-208d-6e1c-e9c25fc0bf76-930b58d9 {
  grid-area: 1 / 2 / 2 / 3;
}

@media screen and (max-width: 991px) {
  #w-node-_86396bcf-78a5-d6dd-e05e-9278c3a2e98a-930b58d9 {
    grid-area: 1 / 3 / 2 / 3;
    justify-self: end;
  }

  #w-node-_0d836e65-d760-3a8d-3a62-03af4c7a6e60-930b58d9 {
    grid-column: 2 / 3;
  }

  #w-node-_64029f8e-fb5a-417a-1be3-bb498260be70-930b58d9 {
    grid-area: 2 / 2 / 3 / 3;
  }

  #w-node-_87623d21-3ad0-ce0f-f240-e606cfc98956-930b58d9, #w-node-_0cba48a3-c1cb-00f1-f063-f91b869f91c6-930b58d9, #w-node-f0794d54-1e87-f698-5027-a2edcb01a103-930b58d9, #w-node-b3fd783d-b411-acb0-7eb7-4f9a962b055e-930b58d9, #w-node-b523d164-f8de-d385-629e-f02d32f4ee91-930b58d9, #w-node-_1e63624c-1811-5b2c-a2d9-869869e490d0-930b58d9 {
    grid-column: 1 / 4;
  }
}

@media screen and (max-width: 767px) {
  #w-node-_86396bcf-78a5-d6dd-e05e-9278c3a2e982-930b58d9 {
    grid-column-end: 3;
    justify-self: start;
  }

  #w-node-_86396bcf-78a5-d6dd-e05e-9278c3a2e98a-930b58d9 {
    grid-area: 1 / 3 / 2 / 3;
    justify-self: end;
  }

  #w-node-_3366d8c2-122b-9ef4-c6ad-385f41a748fb-930b58d9, #w-node-_3366d8c2-122b-9ef4-c6ad-385f41a74914-930b58d9, #w-node-_3366d8c2-122b-9ef4-c6ad-385f41a74924-930b58d9 {
    grid-area: 1 / 1 / 2 / 2;
  }

  #w-node-_3366d8c2-122b-9ef4-c6ad-385f41a74932-930b58d9 {
    grid-area: 2 / 1 / 3 / 2;
  }

  #w-node-_3366d8c2-122b-9ef4-c6ad-385f41a74935-930b58d9 {
    grid-area: 1 / 1 / 2 / 2;
  }

  #w-node-_64029f8e-fb5a-417a-1be3-bb498260be72-930b58d9 {
    grid-column-start: 1;
  }
}


